<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plano de Aula</title>
    <link th:href="@{/previa.css}" rel="stylesheet" />
</head>

<body>
    <div id="planoDeAula">
        <h1>Plano de Aula</h1>
        <h2 id="titulo" th:text="${plano.titulo}"></h2>
        <div id="autor-disciplina-titulo">
        	<h3>Autor:</h3>
            <p th:text="${plano.autor}"></p>
        </div>
        <div>
        	<h3>Disciplina:</h3>
        	<p th:text="${plano.disciplina.descricao}"></p>
        </div>
        <div>
        	<h3>Ano escolar:</h3>
        	<p th:text="${plano.ano}"></p>
        </div>
        <div id="reds-container">
            <h3>Recursos ultilizados:</h3>
            <ul id="reds-lista" th:each="recurso : ${plano.recursos}">
                <li th:text="${recurso.titulo}"></li>
            </ul>
        </div>
        <div id="descritores-container">
            <h3>Descritores:</h3>
            <ul id="descritores-lista" th:each="descritor : ${plano.descritores}">
                <li>
                    <p th:text="${descritor.descricao}"></p>
                </li>
            </ul>
        </div>

        <div>
            <h3>Passo a passo:</h3>
            <p th:text="${plano.conteudo}"></p>
        </div>
    </div>
</body>

</html>